# Core dependencies
streamlit
streamlit-nested-layout
streamlit-extras
# Data processing and visualization
pandas
openpyxl
plotly
statsmodels
# Database
psycopg2-binary
sqlalchemy
# API and configuration
python-dotenv
openai
jsonschema
# statistical models
statsmodels
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
