# Core dependencies
streamlit
streamlit-nested-layout
streamlit-extras
# Data processing and visualization
pandas
openpyxl
plotly
statsmodels
# Database
psycopg2-binary
sqlalchemy
# API and configuration
python-dotenv
openai
# Add statsmodels for statistical models
statsmodels
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
