@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
    font-size: 16px;
    line-height: 1.6;
}

/* Sidebar styles */
.sidebar-content {
    background-color: #1E1E1E;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, opacity 0.5s ease;
    opacity: 0;
    animation: sidebarFadeIn 0.5s forwards;
}

@keyframes sidebarFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sidebar-content .header {
    font-size: 1.7em;
    color: #BB86FC;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.sidebar-content .header .icon {
    font-size: 1.7em;
    margin-right: 10px;
}

/* Header and Footer */
.header, .footer {
    background-color: #222222;
    color: #FFFFFF;
    padding: 24px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.header {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 32px;
    color: #BB86FC;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.footer {
    font-size: 14px;
    margin-top: 32px;
    color: #A0A0A0;
}

/* Card styles */
.card {
    background-color: #1E1E1E;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}
/* Button styles */
.stButton>button {
    background-color: #BB86FC;
    color: #121212;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.stButton>button:hover {
    background-color: #9F77E5;
    color: #FFFFFF;
}

/* Alerts and notifications */
.success, .warning, .error {
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.success {
    background-color: #2E7D32;
    color: #FFFFFF;
}

.warning {
    background-color: #F9A825;
    color: #FFFFFF;
}

.error {
    background-color: #C62828;
    color: #FFFFFF;
}

.success .icon, .warning .icon, .error .icon {
    margin-right: 10px;
    font-size: 24px;
}

.title {
    font-size: 2em;
    color: #BB86FC;
    margin-bottom: 20px;
}

.stDataFrame {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.altair-chart {
    margin-top: 20px;
}
